*.iml
.kotlin
.gradle
**/build/
xcuserdata
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
iosApp/*.xcodeproj/*
!iosApp/*.xcodeproj/project.pbxproj
!iosApp/*.xcodeproj/xcshareddata/
!iosApp/*.xcodeproj/project.xcworkspace/
!iosApp/*.xcworkspace/contents.xcworkspacedata
!iosApp/*.xcworkspace/xcshareddata/
**/xcshareddata/WorkspaceSettings.xcsettings
iosApp/Pods
image.png
key.gpg
gpg_key.png
gpg_key.txt
