site_name: MapLibre Compose

site_description: MapLibre Compose embeds interactive vactor map in your Compose Multiplatform apps.
site_url: https://sargunv.github.io/maplibre-compose

repo_name: maplibre-compose
repo_url: http://github.com/sargunv/maplibre-compose
edit_uri: "edit/main/docs/docs/"

copyright: "Copyright &copy; 2024 Sargun Vohra"

theme:
  name: "material"
  icon:
    repo: "fontawesome/brands/github"
  palette:
    - media: "(prefers-color-scheme)"
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.instant.preview
    - navigation.tracking
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - toc.follow
    - content.action.edit

plugins:
  - search
  - markdownextradata

markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - tables

  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

nav:
  - Home: index.md
